body {
  font-family: "Roboto", Arial, sans-serif;
  background: #f8f8f8;
  padding: 0;
  margin: 15px 0;
}

.cv-container {
  background: #ffffff;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-details h1 {
  margin: 0;
  font-size: 35px;
  text-transform: uppercase;
}

.contact-details p {
  margin: 5px 0;
}

section {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

.duration {
  font-weight: normal;
  font-style: italic;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.job,
.school,
.activity {
  margin-bottom: 15px;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.external-link {
  color: inherit;
  text-decoration: none;
}

.external-link {
  background:
    linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgb(23, 23, 23)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.external-link:hover {
  background-size: 0 2px, 100% 2px;
}

.skills-column {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
}

.skills::after {
  content: "";
  display: table;
  clear: both;
}

@media print {
  body {
    margin: 0;
  }

  .cv-container {
    box-shadow: none;
    width: 100%;
    padding-top: 0;
  }

  @page {
    margin: 20mm;
  }

  .no-break {
    page-break-inside: avoid;
  }
}
